body {
  margin: 0;
}
.margin0 {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 247, 0.8);
  gap: 24px;
  padding: 0 8px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background: #fff;
  padding: 16px;
}
.Page {
  display: flex;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.first-half {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}
.rainbow {
  height: 75px;
  background-color: #fff;
}
.info {
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.caption {
  display: flex;
  align-items: center;
  gap: 32px;
}
.caption1-1 {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 32px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.caption1-2 {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
}
.help-center {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.help-center-pfp {
  width: 35px;
  height: 35px;
}
.txt {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.caption2-1 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}
.caption2-2 {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}
.caption2-3 {
  text-decoration-line: none;
}
.platters {
  display: flex;
  padding: 0 140px;
  align-items: center;
  gap: 12px;
}
.platter {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  justify-content: center;
}
.platter-image {
  height: 78px;
  align-self: stretch;
  background-color: #fff;
}
.platter-name {
  display: flex;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.second-half {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  align-self: stretch;
}
.sec1 {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.title {
  display: flex;
  width: 130.87px;
  height: 34px;
  flex-direction: column;
  flex-shrink: 0;
}
.title1 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title2 {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.frame1,
.frame2 {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.card1 {
  width: 480px;
  height: 500px;
}
.card1-1 {
  background-image: url(./store.page2-1.jpg);
}
.card1-2 {
  background-image: url(./store.page2-2.jpg);
}
.card1-3 {
  background-image: url(./store.page2-3.jpg);
}
.card1-4 {
  background-image: url(./store.page2-4.jpg);
}
.txt1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.txt1-1 {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.txt1-2 {
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.196px;
}
.txt1-3 {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.sec2 {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.card2 {
  width: 400px;
  height: 500px;
}
.card2-1 {
  background-image: url(./store.page3-1.jpg);
}
.card3 {
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
