body {
  margin: 0;
}
.margin0 {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 247, 0.8);
  gap: 24px;
  padding: 0 8px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background: #fff;
  padding: 16px;
}
.Page {
  display: flex;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
